.container{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
}
.vsplit{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1%;
}

.hsplit{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1%;
}

.tile{
    background-color: white;
    width: 90%;
    margin: 2%;
    padding: 5%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
}

#donation-box{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input, select{
    margin: 1%;
    outline:none;
    border: 1px solid;
    border-radius: 3%;
}
input[type=text]{
    /* height: 5%; */
    width: 40%;
    padding: 2% 4%;
    font-size: 1.2em;
}

input[type=submit]{
    font-size: 1.2em;
    width: 30%;
    padding: 2% 4%;
    cursor:pointer
}

select{
    padding: 2% 4%;
    width: 70%;
    font-size: 1.2em;
}

#total-impact {
    font-size: 3em;
    padding: 5%;
}

#amount-raised{
    font-size: 3em;
    padding: 5%;
}

#impact-table, #payment-table, #leaderboard{
    margin:5%;
}

#money{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#donate div select{
    width: 40%;
}