.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#login-tile {
    border-radius: 10px;
    min-width: 60vh;
}

#login-selector {
    display: flex;
    flex-direction: row;
}

.login-selection-box {
    width: 50%;
    padding: 5%;
    margin: 5% 0 5% 0;
    text-align: center;
    font-size: larger;
    border-right: 2px solid lightgray;
    border-bottom: 5px solid white;
    cursor: pointer;
}

.login-selection-box:hover {
    color: #1c9ce5;
    border-bottom: 5px solid #1c9ce5;
}

.login-selection-box.selected {
    color: #0074E1;
    border-bottom: 5px solid #0074E1;
}

#login-inputs {
    padding: 10%;
}

.input-entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

input.input-entry {
    margin: 5px 0 20px 0;
    padding: 10px;
    border: 0;
    height: 40px;
    width: 100%;
    color: var(--text_grey);
    background: none;
    outline: none;
    background-color: #fcfcfc;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    border-spacing: 10px;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    transition: all 0.5s;
}

label.input-entry {
    text-align: left;
}

button.input-entry {
    font-size: large;
    color: white;
    border-radius: 5px;
    margin: 0 auto 0 auto;
    padding: 5% 15% 5% 15%;
    background-color: #1c9ce5;
    border: none;
    cursor: pointer;
}

button.input-entry:hover {
    background-color: #0074E1;
}